// .add-item-btn {
//   border: 1px solid $freelancer-green;
// }

// .plus-item-btn {
//     background-color: white;
// }
@import '../variables/index.scss';

.add-item-btn {
  background-color: $freelancer-green;
  border: none;
  color: $freelancer-gold;
}

.add-item-btn:hover {
   color: $freelancer-gold;
}

.filter-btn, #updateEventBtn, #submitEventBtn {
  background-color: $freelancer-green;
  color: $freelancer-gold;
  border: 1px solid $freelancer-green;
}

.filter-btn:hover, #updateEventBtn, #submitEventBtn, #add-souvenir-btn {
    color: $freelancer-gold;
}
