@import '../variables/index.scss';

.line-item {
  display: flex;
  justify-content: space-between;
}

.category-total {
  font-weight: bold;
}

#eventItemsContainer {
  margin: 50px 0px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 125px;
  row-gap: 75px;
}