#events-form{
    height: 100%;
    margin: 20px auto 40px auto;
}
.selector-group{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}
.eventSelector{
    margin: 20px;
}
#eventFormTitle{
    font-size: 50px;
}
.eventFormTitles{
    font-size: 20px;
}