@import '../variables/index.scss';

$border-radius-size: 5px;

form {
    font-family: 'Roboto', sans-serif;
    background-color: $freelancer-blue;
    width: 30rem;
    padding: 15px;
    font-weight: bold;
    font-size: large;
    border-radius: $border-radius-size;
    box-shadow: -1px 15px 30px -12px black;
}
  
h2 {
    font-family: 'UnifrakturCook', cursive;
    padding: 10px;
}