@import '../variables/index.scss';

.navbar-brand {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 2em;
}

.nav-link, .user-info-nav {
  font-family: 'Piedra', cursive;
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 3em;
}

.bg-light {
  background-color: #46725D !important;
}

#nav {
  background-color: #46725D;
}

.navbar-logout-button {
  color: #42465B;
}