@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  text-align: inherit;
}

.hide {
  display: none;
}

.image {
  height: 200px;
  width: 200px;
}