@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Rye&family=UnifrakturMaguntia&display=swap');
@import './variables/';
@import './components/';



body {
  background-color: $freelancer-tan;
  color: $freelancer-gold;
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  text-align: inherit;
  background-color: #46725D;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hide {
  display: none;
}

.image {
  height: 200px;
  width: 250px;
}