$freelancer-green: #46725D;
$freelancer-gold: #E7A336;
$freelancer-blue: #42465B;
$freelancer-orange: #A24A31;
$freelancer-white: #FFFDFD;
$freelancer-darkBlue: #313349;
$freelancer-tan: #F5F3E0;
$freelancer-green: #46725D;